---
export interface Props {
	title: string;
	desc: string;
	href: string;
	image: string;
	tag: string;
	type: string;
	odd?: boolean;
	date: string;
}

const { title, desc, href, image, tag, type, odd = false, date } = Astro.props;
let flipped = '';

if (odd) {
	flipped = 'flipped';
}
---

<div class='card--contain'>
	<div class={`card ${type} ${flipped}`}>
		<a
			aria-label={`link to article ${title}`}
			class='card--image'
			href={href}
			style={`background-image: url("${image}?w=350&h=250"); background-position: center; background-repeat: no-repeat; background-size: cover;`}
		></a>

		<div class='card--text--contain'>
			<h2>{title}</h2>
			<p class='card--date'>{date} &nbsp; {tag}</p>
			<p class='card--desc'>{desc}</p>
		</div>
		<a href={href} class='card--button' aria-label={`link to article ${title}`}
			>Read More</a
		>
	</div>
</div>

<style>
	.card--contain {
		width: 100%;
		max-width: 600px;
		transition: all 200ms ease-in;
	}
	.card--contain:hover > .card > .card--image {
		filter: grayscale(0%);
	}
	.card {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
		width: 100%;
		max-width: 1170px;
		border: 0px solid #fff;
		margin: 0px;
		position: relative;
	}
	.card--image {
		min-width: 350px;
		aspect-ratio: 16 / 9;
		transform: translate(0, 48px);
		z-index: 0;
		filter: grayscale(100%);
		transition: all 200ms ease-in;
	}
	.card--text--contain {
		background-color: #194259;
		padding: 16px 48px;
		color: #fff;
		width: 85%;
		justify-self: center;
		z-index: 1;
	}
	h2 {
		font-size: 1.8rem;
		margin-bottom: 8px;
	}
	.card--date {
		font-size: 0.8rem;
		font-weight: 400;
		margin-bottom: 16px;
		padding-bottom: 16px;
		border-bottom: 2px solid #fff;
		width: fit-content;
	}
	.tag {
		font-size: 0.8rem;
		font-weight: 400;
		padding: 4px 8px;
		color: #fff;
		margin-left: 16px;
	}
	.card--desc {
		font-size: 1rem;
		letter-spacing: 1px;
		line-height: 1.5rem;
		margin-bottom: 1em;
		padding-bottom: 24px;
	}
	.card--button {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 48px;
		bottom: -24px;
		right: 16px;
		z-index: 2;
		padding: 16px 24px;
		border: none;
		border-radius: 5px;
		font-weight: bold;
		letter-spacing: 2px;
		color: #ffffff;
		transition: all 1000ms;
		overflow: hidden;
		outline: 4px solid #23798b;
		background-color: #23798b;
		text-decoration: none;
		cursor: pointer;
		transition: all 200ms ease-in;
	}
	.card--button:hover {
		color: #23798b;
		background-color: #fff;
	}

	@media only screen and (max-width: 1100px) {
		.card {
			column-gap: 16px;
		}
		.card--contain > .card > .card--image {
			filter: grayscale(0%);
		}
		h2 {
			font-size: 1.4rem;
		}
		.card--text--contain {
			padding: 16px;
		}
	}
	@media only screen and (max-width: 900px) {
		.card {
			grid-template-columns: 1fr;
		}
	}
</style>
