---
import Card from '../components/Card.astro';
import { contentfulClient } from '../lib/contentful.js';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import type { Document } from '@contentful/rich-text-types';
import type { BlogPost } from '../lib/contentful';

const entries = await contentfulClient.getEntries<BlogPost>({
	content_type: 'blogPost',
	limit: 3,
});

const posts = entries.items.map((item) => {
	const { title, date, description, slug, image, type } = item.fields;
	return {
		title,
		slug,
		description,
		date: new Date(date).toLocaleDateString(undefined, {
			weekday: 'long',
			year: 'numeric',
			month: 'long',
			day: 'numeric',
		}),
		imageDesc: image.fields.description,
		imageURL: image.fields.file.url,
		type,
	};
});
---

<section id='news'>
	<div id='news--articles'>
		{
			posts.map((post, index) => (
				<Card
					title={post.title}
					desc={post.description}
					image={'https://' + post.imageURL}
					href={`./news/${post.slug}`}
					tag={post.type}
					type={index.toString()}
				/>
			))
		}
	</div>
</section>
<style>
	#news {
		background-color: #fff;
		width: 100%;
		height: fit-content;
		position: relative;
		color: #fff;
		max-width: 1920px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#news--articles {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 8px;
		justify-content: space-between;
		width: 100%;
		max-width: 1920px;
		align-self: center;
		align-items: stretch;
		height: fit-content;
	}

	@media only screen and (max-width: 1200px) {
		#news--articles {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		#news {
			align-items: center;
			padding: 0px 0px;
			background-color: #fff;
			background-image: none;
			height: auto;
		}
		#news > p,
		#news > h2 {
			color: #0063a7;
		}
	}
</style>
